{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block homeactive %} active {% endblock homeactive %}

{% block body %}
<div class="container-fluid">
  <div class="jumbotron my-3" style="background-color: black;">
    <h1 class=" display-4" style="color: white;"><b>Welcome to MyBlog!</b></h1>
    <h3 class="lead" style="color: white;"><b>A place to read about thoughts, ideas, and stories.</b></h3>
    <hr class="my-4">
    <h5 style="color: white;">Read Our Blog</h5>
    <a class="btn btn-primary btn-lg my-3" href="/blog" role="button">Go to Blog</a>
  </div>
</div>
<style>
  .jumbotron {
    height: 86vh;
  }
</style>
{% endblock body %}